extends base
- load static

block head
    script(type='text/javascript', src="{% static 'js/lib/angular.min.js' %}")
    script(type='text/javascript', src="{% static 'js/lib/ui-bootstrap-tpls.min.js' %}")
    script(type='text/javascript', src="{% static 'js/lib/dirPagination.js' %}")
    script(type='text/javascript', src="{% static 'js/services.js' %}")
    script(type='text/javascript', src="{% static 'js/courses.js' %}")
    script(type='text/javascript', src="{% static 'js/filterWidget.js' %}")

    link(type='text/css', rel='stylesheet',
         href="{% static 'css/courses.css' %}")
    link(type='text/css', rel='stylesheet',
         href="{% static 'css/filterWidget.css' %}")

block content
    .courseList(ng-app='coursesApp', ng-controller='CoursesController')
        .course-filters
            button.btn.btn-filter(ng-repeat='filter in allFilters'
                                  ng-click='addFilterField(filter.keywords[0])'
                                  color-darken-toggle='{$ $index $}')
                {$ filter.cleanName $}

        #courseFilterInput

        .table-responsive
            table.table.table-hover
                thead
                    tr.course-header
                        th
                        th(ng-click="order('crn')") CRN
                            span.glyphicon.glyphicon-chevron-up(ng-show="orderProp == '-crn'")
                            span.glyphicon.glyphicon-chevron-down(ng-show="orderProp == 'crn'")

                        th(ng-click="order('course_id')") Course ID
                            span.glyphicon.glyphicon-chevron-up(ng-show="orderProp == '-course_id'")
                            span.glyphicon.glyphicon-chevron-down(ng-show="orderProp == 'course_id'")

                        th(ng-click="order('title')") Title
                            span.glyphicon.glyphicon-chevron-up(ng-show="orderProp == '-title'")
                            span.glyphicon.glyphicon-chevron-down(ng-show="orderProp == 'title'")

                        th(ng-click="order('instructor')") Instructor
                            span.glyphicon.glyphicon-chevron-up(ng-show="orderProp == '-instructor'")
                            span.glyphicon.glyphicon-chevron-down(ng-show="orderProp == 'instructor'")

                        th(ng-click="order('meeting')") Meetings
                            span.glyphicon.glyphicon-chevron-up(ng-show="orderProp == '-meeting'")
                            span.glyphicon.glyphicon-chevron-down(ng-show="orderProp == 'meeting'")

                        th(ng-click="order('s_distribution')") Distribution
                            span.glyphicon.glyphicon-chevron-up(ng-show="orderProp == '-s_distribution'")
                            span.glyphicon.glyphicon-chevron-down(ng-show="orderProp == 's_distribution'")

                        th Enrollment

                        th(ng-click="order('credits')") Credits
                            span.glyphicon.glyphicon-chevron-up(ng-show="orderProp == '-credits'")
                            span.glyphicon.glyphicon-chevron-down(ng-show="orderProp == 'credits'")

                tbody
                    tr(ng-show='loadingCourses')
                        td Loading courses...

                    tr(ng-show='filteredCourses.length == 0 && !loadingCourses')
                        td No courses found

                    tr.course-entry(dir-paginate='course in filteredCourses | orderBy: orderProp | itemsPerPage: {{ items_per_page }}')
                        td(ng-class="{'user-course': isUserCourse(course), 'not-user-course': !isUserCourse(course)}", id='uc-{$ course.crn $}')
                            a(ng-click='toggleUserCourse(course)')
                                span.glyphicon(ng-class="{'glyphicon-heart': isUserCourse(course), 'glyphicon-heart-empty': !isUserCourse(course)}")

                        td(ng-click='courseDetail(course)') {$ course.crn $}
                        td(ng-click='courseDetail(course)') {$ course.course_id $}
                        td(ng-click='courseDetail(course)') {$ course.title $}
                        td(ng-click='courseDetail(course)') {$ course.instructor $}
                        td(ng-click='courseDetail(course)') {$ course.meeting $}
                        td(ng-click='courseDetail(course)') {$ course.s_distribution $}
                        td(ng-click='courseDetail(course)')
                            span(ng-class="{'enroll-warning': enrollPercent(course) > 50, 'enroll-full': enrollPercent(course) >= 100}").
                                {$ course.enrollment $}/{$ course.max_enrollment $}
                        td(ng-click='courseDetail(course)') {$ course.credits $}

            .text-center
                dir-pagination-controls(boundary-links='true',
                    template-url="{% static 'partials/dirPagination.tpl.html' %}")
